GOCREATE_BASE_URL=https://portal.gocreate.com/
GOCREATE_EMAIL=
GOCREATE_PASSWORD=
FIREBASE_PROJECT_ID=jollytiles
FIREBASE_DATABASE_URL=https://jollytiles-default-rtdb.firebaseio.com
GOOGLE_APPLICATION_CREDENTIALS=C:\GoCreate\secrets\jollytiles-service-account.json
RUN_SYNC_ON_START=true
HEADLESS=true
